<!DOCTYPE html>
<html lang="es">
	<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>Mybooking product week planning</title>
		<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-ui-bootstrap/0.5pre/css/custom-theme/jquery-ui-1.10.0.custom.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
    <link rel="stylesheet" href="./assets/styles/styles.css" />
    <link rel="stylesheet" href="./assets/styles/style-product-planning-week.css" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
	<body class="mybooking-rent-product-planning-week">

		<!-- Planning init -->
		<div class="mybooking-product-planning-week-content" data-category-code="A" id="planning-1">
			<form class="mybooking-product-planning-week-head">
        <h1 class="mybooking-title mybooking-product-planning-week-title"></h1>
        <div class="button-box">
          <button data-action="date" data-direction="back" class="button"><i class="fa fa-arrow-left"></i></button>
          <input type="text" name="date"  />
          <button data-action="date" data-direction="next" class="button"><i class="fa fa-arrow-right"></i></button>
        </div>
			</form>
			<div class="mybooking-product-planning-week-table"></div>
      <div class="mybooking-product-planning-week-btns">
        <form
          name="mybooking_product_week_planning_reservation"
          method="get"
          enctype="application/x-www-form-urlencoded"
          class="mybooking-form">
           <div id="mybooking_product_week_planning_reservation_summary"></div> 
        </form>
      </div>
		</div>
    <!-- Planning end -->
		<script type="module">
      import('./assets/js/mybooking-engine-init.js')
        .then(async function (module) {
          return await module.default();
        })
        .then(function(module) {
          window.mybookingEngine = module;
          var script = document.getElementById('engine');
          script.setAttribute('src', script.getAttribute('data-src'));
          script.removeAttribute('data-src');
        });
    </script>
    <script id="engine" async data-src="../js/mybooking-js-engine.js"></script>
    
    
    <!-- Micro templates -->
    <script type="text/tmpl" id="script_mybooking_product_week_planning_reservation_summary">
      <!-- // Exceeds max duration -->
      <% if (product && product.exceeds_max) { %>
         <div class="mb-alert danger">
            <span><%= i18next.t('chooseProduct.max_duration', {duration: i18next.t('common.'+product.price_units, {count: product.max_value, interpolation: {escapeValue: false}} ), interpolation: {escapeValue: false}}) %></span>
         </div>

      <!-- // Less than min duration -->
      <% } else if (product && product.be_less_than_min) { %>
         <div class="mb-alert danger">
            <span><%= i18next.t('chooseProduct.min_duration', {duration: i18next.t('common.'+product.price_units, {count: product.min_value, interpolation: {escapeValue: false}} ), interpolation: {escapeValue: false}}) %></span>
         </div>

      <!-- // Available -->
      <% } else if (product_available) { %>
        <h2 class="mybooking-summary_details-title">
          Reservation summary
        </h2>

        <div class="mybooking-summary_detail">

          <!-- // Duration -->
          <% if (shopping_cart.days > 0) { %>
            <div class="mybooking-summary_extras">
              <span class="mybooking-summary_item">
                <span class="mybooking-summary_duration">
                  <%=shopping_cart.days%> days
                </span>
              </span>
            </div>

          <% } else if (shopping_cart.hours > 0) { %>
            <div class="mybooking-summary_extras">
              <span class="mybooking-summary_item">
                <span class="mybooking-summary_duration">
                  <%=shopping_cart.hours%> hours
                </span>
              </span>
            </div>
          <% } %>
        </div>

        <!-- // Product -->
        <% if (!configuration.hidePriceIfZero || shopping_cart.item_cost > 0) { %>
          <div class="mybooking-summary_extras">
            <span class="mybooking-summary_item">
              Product:
            </span>
              <span class="mybooking-summary_extra-amount">
                <%=configuration.formatCurrency(shopping_cart.item_cost)%>
              </span>
          </div>
        <% } %>

        <!-- // Extras -->

        <% if (shopping_cart.extras.length > 0) { %>
          <div class="mb-section">
            <div class="mybooking-summary_details-title">
              Extras
            </div>

            <% for (var idx=0;idx<shopping_cart.extras.length;idx++) { %>
              <div class="mybooking-summary_extras">
                <div class="mybooking-summary_extra-item">
                  <span class="mb-badge info mybooking-summary_extra-quantity">
                    <%=shopping_cart.extras[idx].quantity%>
                  </span>
                  <span class="mybooking-summary_extra-name">
                    <%=shopping_cart.extras[idx].extra_description%>
                  </span>
                </div>
                <span class="mybooking-summary_extra-amount">
                  <%=configuration.formatCurrency(shopping_cart.extras[idx].extra_cost)%>
                </span>
              </div>
            <% } %>
          </div>
        <% } %>

        <!-- // Supplements -->
        <div class="mybooking-summary_extras">

          <!-- // Pick-up time -->
          <% if (shopping_cart.time_from_cost > 0) { %>
            <div class="mybooking-summary_extra-item">
              <span class="mybooking-summary_extra-name">
                Pick-up time supplement
              </span>
            </div>
            <span class="mybooking-summary_extra-amount">
              <%=configuration.formatCurrency(shopping_cart.time_from_cost)%>
            </span>
          <% } %>
        </div>

        <div class="mybooking-summary_extras">

          <!-- // Pick-up place -->
          <% if (shopping_cart.pickup_place_cost > 0) { %>
            <div class="mybooking-summary_extra-item">
              <span class="mybooking-summary_extra-name">
                Pick-up place supplement
              </span>
            </div>
            <span class="mybooking-summary_extra-amount">
              <%=configuration.formatCurrency(shopping_cart.pickup_place_cost)%>
            </span>
          <% } %>
        </div>

        <div class="mybooking-summary_extras">

          <!-- // Return time -->
          <% if (shopping_cart.time_to_cost > 0) { %>
            <div class="mybooking-summary_extra-item">
            <span class="mybooking-summary_extra-name">
              Return time supplement
            </span>
            </div>
            <span class="mybooking-summary_extra-amount">
              <%=configuration.formatCurrency(shopping_cart.time_to_cost)%>
            </span>
          <% } %>
        </div>

        <div class="mybooking-summary_extras">

          <!-- // Return place -->
          <% if (shopping_cart.return_place_cost > 0) { %>
            <div class="mybooking-summary_extra-item">
              <span class="mybooking-summary_extra-name">
                Return place supplement
              </span>
            </div>
            <span class="mybooking-summary_extra-amount">
              <%=configuration.formatCurrency(shopping_cart.return_place_cost)%>
            </span>
          <% } %>
        </div>

        <% if (!configuration.hidePriceIfZero || shopping_cart.total_cost > 0) { %>
          <!-- // Total -->
          <div class="mb-section">
            <div class="mybooking-summary_total">
              <div class="mybooking-summary_total-label">
                Total
              </div>
              <div class="mybooking-summary_total-amount">
                <%=configuration.formatCurrency(shopping_cart.total_cost)%>
              </div>
            </div>

            <div class="mybooking-product_taxes">
              Taxes included
            </div>
          </div>
        <% } %>

        <!-- // Reservation button -->

        <div class="mb-form-group">
           <input id="add_to_shopping_cart_btn" class="mb-button block btn-choose-product" type="submit" value="Book Now!"/>
        </div>

      <% } else { %>
        <% if (product_type == 'resource') { %>
          <div class="mb-alert danger">
            Sorry, there is no availability during these hours
          </div>

        <% } else if (product_type == 'category_of_resources') { %>
          <div class="mb-alert warning">
            Sorry, there is no availability for the entire period. The calendar shows those days when there is availability, but it may not be available for certain consecutive dates.
          </div>
        <% } %>
      <% } %>
  </script>    
	</body>
</html>