<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<title>Mybooking ShiftPicker</title>
	<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
	<link rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/jquery-ui-bootstrap/0.5pre/css/custom-theme/jquery-ui-1.10.0.custom.css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
	<link rel="stylesheet" href="./assets/styles/styles.css" />
	<link rel="stylesheet" href="./assets/styles/style-shift-picker.css" />
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
</head>
<body class="mybooking-rent-shift-picker">
	<!-- ShiftPicker start -->
	<!-- data-category-code REQ -->
	<!-- data-sales-channel-code OPT -->
	<!-- data-rental-location-code OPT -->
	<!-- id REQ -->
	<!-- ShiftPicker start -->
	<div id="shift-picker-1" data-category-code="18" data-sales-channel-code="JETSKI" class="mybooking-rent-shift-picker-content">
			<form
          name="mybooking-rent-shift-picker-form"
          method="get"
          enctype="application/x-www-form-urlencoded"
          class="mybooking-form">
			<div class="mybooking-rent-shift-picker-head">
				<h1 class="h1">
					Reservar turno
				</h1>
				<p>
					Selecciona el número de vehículos y el día que deseas reservar para ver los turnos disponibles.
				</p>
				<div class="field">
					<label class="label">
						Selecciona cantidad
					</label>
					<div class="control">
						<div class="select">
							<select name="shiftpicker-units">
							</select>
						</div>
					</div>
				</div>
				<div class="field">
					<label class="label">
						Escoge un día
					</label>
					<div class="control">
						<input type="text" name="shiftpicker-date" />
					</div>
				</div>
			</div>
			<div class="mybooking-rent-shift-picker-container">
				<div class="mybooking-rent-shift-picker-container-head">
					<span class="shiftpicker-text-date"></span>
				</div>
				<div class="mybooking-rent-shift-picker-container-arrows">
					<button data-direction="back" class="button shiftpicker-arrow" disabled>
						<i class="fa fa-arrow-left"></i>
						&nbsp;
						Anterior
					</button>
					<button data-direction="next" class="button shiftpicker-arrow">
						Siguiente
						&nbsp;
						<i class="fa fa-arrow-right"></i>
					</button>
				</div>
				<ul class="mybooking-rent-shift-picker-container-list shiftpicker-turns">
				</ul>
				<div class="mybooking-rent-shift-picker-container-info shiftpicker-info">
				</div>
				<div class="mybooking-rent-shift-picker-container-buttons">
					<!-- // Reservation button -->
					<div class="mb-form-group">
						<input type="submit" class="button" disabled="disabled" value="Reservar"  />
				 </div>
				</div>
			</div>
		</form>
	</div>
	<!-- ShiftPicker end -->

	<script type="module">
		import('./assets/js/mybooking-engine-init.js')
			.then(async function (module) {
				return await module.default();
			})
			.then(function (module) {
				window.mybookingEngine = module;
				var script = document.getElementById('engine');
				script.setAttribute('src', script.getAttribute('data-src'));
				script.removeAttribute('data-src');
			});
	</script>
	<script id="engine" async data-src="../js/mybooking-js-engine.js"></script>
</body>
</html>

<!-- START TEMPLATES -->
<script type="text/tmpl" id="script_shiftpicker_units_option">
	<option value="<%=model.units%>"><%=model.units%> unidades</option>
</script>

<script type="text/tmpl" id="script_shiftpicker_turns_item">
	<li class="mybooking-rent-shift-picker-container-list-item shiftpicker-turn-item" data-status="<%=model.availability ? 'enabled' : 'disabled'%>" data-time-from="<%=model.time_from%>" data-time-to="<%=model.time_to%>">
		<span class="mybooking-rent-shift-picker-container-list-item_text">
			<%=model.time_from%> <i class="fa fa-arrow-right"></i> <%=model.time_to%>
		</span>
		<div>
			<% if (model.available_units) { %>
				<small>
					<i>
						<%=model.available_units ? model.available_units : 0%>
						&nbsp;
						unidades disponibles
					</i>
				</small>
			<% } %>
			<small>
				<i>
					<%=!model.availability ? 'No disponible' : ''%>
				</i>
			</small>
		</div>
		<input type="radio" name="time" value="<%=model.time_from%> - <%=model.time_to%>" <%=!model.availability ? 'disabled="disabled"' : ''%> class="mybooking-rent-shift-picker-container-list-item_value">
	</li>
</script>

<script type="text/tmpl" id="script_shiftpicker_info">
	<div class="card-static_resume__container mybooking-rent-shift-picker-container-info_content">
		<div class="card-static_resume__container_inside">
			<h2 class="h2">
				Tu selección
			</h2>
			<!-- // Info -->
			<div>
				<strong>
					<% if (model.days > 0) { %>
						<span class="time">
								<%=model.days%>
						</span>
						&nbsp;
						<span class="time-format">días</span>
					<% } else if (model.hours > 0) { %>
						<span class="time">
								<%=model.hours%>
						</span>
						&nbsp;
						<span class="time-format">horas</span>
					<% } else if (model.minutes > 0) { %>
						<span class="time">
								<%=model.minutes%>
						</span>
						&nbsp;
						<span class="time-format">minutos</span>
					<% } %>
				</strong>
			</div>
			<div>
				<span class="units">
					<%=model.units%>
				</span>
				&nbsp;
				Unidades
			</div>
			<div class="date">
				<%=model.date%>
			</div>
			<div>
				de
				&nbsp;
				<span class="time-from"><%=model.time_from%></span>
				&nbsp;a&nbsp;
				<span class="time-to"><%=model.time_to%></span>
				&nbsp;
				horas
			</div>
			<!-- // End info -->

			<!-- // Extras -->
			<% if (model.shopping_cart.extras.length > 0) { %>
				<div class="mb-section">
					<div class="mybooking-summary_details-title text-center">
						<b>Extras</b>
					</div>

					<% for (var idx=0;idx<model.shopping_cart.extras.length;idx++) { %>
						<div class="mybooking-summary_extras text-center">
							<div class="mybooking-summary_extra-item">
								<span class="mb-badge info mybooking-summary_extra-quantity">
									<%=model.shopping_cart.extras[idx].quantity%>
								</span>
								<span class="mybooking-summary_extra-name">
									<%=model.shopping_cart.extras[idx].extra_description%>
								</span>
								<span class="mybooking-summary_extra-amount">
									<%=model.configuration.formatCurrency(model.shopping_cart.extras[idx].extra_cost)%>
								</span>
							</div>
						</div>
					<% } %>
				</div>
			<% } %>
			<!-- // End Extras -->

			<!-- // Supplements -->
			<div class="mybooking-summary_extras text-center">
				<!-- // Pick-up time -->
				<% if (model.shopping_cart.time_from_cost > 0) { %>
					<div class="mybooking-summary_extra-item">
						<span class="mybooking-summary_extra-name">
							<b>Suplementos</b>
						</span>
						<span class="mybooking-summary_extra-amount">
							<%=model.configuration.formatCurrency(model.shopping_cart.time_from_cost)%>
						</span>
					</div>
				<% } %>
			</div>
			<!-- // End Supplements -->

			<!-- // Total -->
			<% if (!model.configuration.hidePriceIfZero || model.shopping_cart.total_cost > 0) { %>
				<div class="mb-section">
					<div class="mybooking-summary_total text-center">
						<span class="mybooking-summary_total-label">
							<b>Total:</b>
						</span>
						<span class="mybooking-summary_total-amount">
							<b>
								<%=model.configuration.formatCurrency(model.shopping_cart.total_cost)%>
							</b>
						</span>
					</div>
					<div class="mybooking-product_taxes">
						Taxes included
					</div>
				</div>
			<% } %>
			<!-- // End Total -->
		</div>
	</div>
</script>
<!-- END TEMPLATES -->