  #wizard_container {

    position: fixed; 
    top: 0; 
    left: 0; 
    z-index: 1040; 
    width: 100%; 
    height: 100%; 
    overflow: hidden;

  }

  #wizard_container .step_title {

    position: relative; 
    top: 10px; 

  }

  #close_wizard_btn {

    position: fixed; 
    top: 10px; 
    right: 20px; 
    margin-right: 10px

  }

  #close_wizard_btn i {
    font-size:1.2em;
    font-weight: 200; 
  }


  #wizard_container_step {
     position: fixed; 
     top: 50px; 
     left: 0; 
     z-index: 2000; 
     width: 100%; 
     height: 100%; 
     overflow-y: auto; 
     overflow-x: hidden;
     padding-bottom: 6em !important;
  }

  #wizard_container #date_from {
    width: 100%;
    height: 100%;
  }
  
  /** Override JQUERY UI **/

  @font-face {
      font-family: "FontAwesome";
      font-weight: normal;
      font-style : normal;
  }

.ui-state-highlight{ 
  background: none !transparent;
}

  /* Header */
  .ui-datepicker .ui-datepicker-header {
    background-color: transparent !important;
    padding: 20px !important;
    border-bottom: 1px solid #EEE;
    padding-bottom: 0px !important;
    margin-bottom: 5px !important;

  }

  /* Title */
  .ui-datepicker-title {
    position: relative !important;
    top: -15px !important;
    margin: 0 !important;
  }

  /* Month and year */
  .ui-datepicker-month, .ui-datepicker-year {
    font-size: 2em !important;
  }

  .ui-datepicker {
    width: 100% !important;
    height: 100% !important;
    border: 0 !important;
  }
  .ui-datepicker table {
    width: 100% !important;
    height: 100% !important;
  }
  .ui-datepicker table th span {
    font-size: 2em !important;
    text-align: center !important;
    color: #d7d6d6;
  }

  .ui-datepicker table td span,
  .ui-datepicker table td a {
    height: 100%;
    font-size: 2em !important;
    box-shadow: none !important; /* Avoid shadow on cells */
  }

  .ui-datepicker-prev:before{
      content: '\f053';
      font-family: 'FontAwesome';
      font-size: 20px;
      /*left: -6px !important;*/
  }

  .ui-datepicker-next:before {
      content: '\f054';
      font-family: 'FontAwesome';
      font-size: 20px;
      /*right: -6px !important;*/
  }

  .ui-icon {
        background-image: none !important;
  }
