<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Mybooking Basic - Activities - Order</title>
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-ui-bootstrap/0.5pre/css/custom-theme/jquery-ui-1.10.0.custom.css"/>
    <!--link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css"-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">      
    <link rel="stylesheet" href="./assets/styles/styles.css" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body class="mybooking-activity-summary">

    <div id="reservation_detail">
    </div>

    <!-- Microtemplates -->

    <script type="text/tpml" id="script_order">

      <!-- Status -->

      <div class="jumbotron">
        <h1 class="display-6 text-center"><%= order.summary_status %></h1>
      </div>

      <section class="section">
        <div class="container">
          <div class="row mt-5">
            <div class="col-md-7">
              <!-- Products -->
              <div id="selected_products">
              <% for (idx in order.items) { %>
                  <div class="card mb-3">
                    <img class="card-img-top" src="<%=order.items[idx].photo_full%>" alt="">
                    <div class="card-body">
                      <h5 class="card-title"><%=order.items[idx].item_description_customer_translation%></h5>
                      <p class="card-text text-muted"><%= configuration.formatDate(order.items[idx].date) %> <%= order.items[idx].time %></p>
                      <% if (order.allow_select_places_for_reservation || order.use_rates) { %>
                        <br>
                        <div class="table-responsive">
                          <table class="table">
                            <tbody>
                              <% if (order.allow_select_places_for_reservation) { %>
                                <% if (order.use_rates) { %>
                                  <% for (var x=0; x<order.items[idx]['items'].length; x++) { %>
                                    <tr>
                                        <td><%=order.items[idx]['items'][x].quantity %>
                                            <%=order.items[idx]['items'][x].item_price_description %> x
                                            <%=configuration.formatCurrency(order.items[idx]['items'][x].item_unit_cost) %>
                                        </td>
                                        <td class="text-right">
                                            <%=configuration.formatCurrency(order.items[idx]['items'][x].item_cost) %>
                                        </td>
                                    </tr>
                                  <% } %>    
                                <% } else { %>
                                  <% for (var x=0; x<order.items[idx]['items'].length; x++) { %>
                                    <tr>
                                        <td><%=order.items[idx]['items'][x].quantity %>
                                            <%=order.items[idx]['items'][x].item_price_description %> 
                                        </td>
                                    </tr>
                                  <% } %>  
                                <% } %>
                              <% } %>   
                              <% if (order.use_rates) { %> 
                                <!-- Show the total -->
                                <tr>
                                  <td><strong>Total</strong></td>
                                  <td class="text-right"><strong><%=configuration.formatCurrency(order.items[idx]['total'])%></strong></td>
                                </tr>
                              <% } %>
                            </tbody>
                          </table>
                        </div>
                      <% } %>
                    </div>
                  </div>
               <% } %>
              </div>
            </div>
            <!-- /CONTENT -->

            <!-- SIDEBAR -->
            <div class="col-md-5">

              <div class="card mb-3">
                <div class="card-header">
                  <%=order.customer_name%> <%=order.customer_surname%>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item"><%=order.customer_email%></li>
                  <li class="list-group-item"><%=order.customer_phone%></li>
                </ul>
              </div>
              <% if (order.use_rates) { %>
              <div class="jumbotron mb-3">
                <h2 class="h5">Importe total <span class="pull-right"><%=configuration.formatCurrency(order.total_cost)%></span></h2>
                <hr>
                <p class="lead">Pagado <span class="pull-right"><%=configuration.formatCurrency(order.total_paid)%></span></p>
                <p class="lead">Pendiente <span class="pull-right"><%=configuration.formatCurrency(order.total_pending)%></span></p>
              </div>
              <% } %>

            </div>
          </div>
        </div>
      </section>

    </script>

    <!-- JS Libraries -->
    <script src="./assets/js/mybooking-engine-init.js"></script>
    <script src="../../dist/js/mybooking-js-engine.js"></script>
  </body>

</html>  