@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
}

@media screen and (min-width: 1024px) {
	.container {
		max-width: 960px;
	}
}

/* Override jqueryui styles to adapt to Bulma */

input[type="text"], input[type="password"], .ui-autocomplete-input, textarea, .uneditable-input {
    display: inline-block;
		padding-bottom: calc(.375em - 1px);
    padding-left: calc(.625em - 1px);
    padding-right: calc(.625em - 1px);
    padding-top: calc(.375em - 1px);
    font-size: 1rem;
    line-height: 1.5;

		border-color: #dbdbdb;
    border-radius: 4px;
    color: #363636;

}

label.error {

  color: hsl(348, 100%, 61%);

}